<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>lapagina</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/> <!-- Corregido el nombre de la etiqueta -->
    
    <footer th:replace="~{layout/plantilla :: listadoproducto}"/> 
    <footer th:replace="~{layout/plantilla :: footer}"/><!-- Corregido el nombre de la etiqueta -->
</body>
</html>
