<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>lapagina</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/> 
    <form method="post" th:action="@{/login}">
        <input type="text" name="username"/><br/>
        <input type="password" name="password"/> <br/>
        <input type="submit" name="Login"/>
    </form>
    
    <footer th:replace="~{layout/plantilla :: footer}"/> <!-- Corregido el nombre de la etiqueta -->
</body>
</html>
