<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>lapagina</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="row m-5 justify-content-md-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h2>[[#{login.login}]]</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/login}">
                            <div class="row my-3 form-group">
                                <label class="col-md-5" for="username">
                                    <i class="fas fa-user-lock"></i>[[#{login.username}]]</label> <!-- Corregido clas="fas fa-user-lock" a class="fas fa-user-lock" -->
                                <div class="col-md-7"> <!-- Corregido did a div -->
                                    <input class="form-control" type="text" name="username"/>
                                </div>
                            </div>

                            <div class="row my-3 form-group">
                                <label class="col-md-5" for="password">
                                    <i class="fas fa-key"></i>[[#{login.password}]]</label> <!-- Corregido clas="fas fa-key" a class="fas fa-key" -->
                                <div class="col-md-7"> <!-- Corregido did a div -->
                                    <input class="form-control" 
                                           type="password" 
                                           name="password"/>

                                </div>
                            </div>
                            <div class="card-footer col text-center">
                                <button class="btn btn-primary" >
                                    <a th:href="@{/registro/nuevo}" 
                                       class="btn"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a></button>
                                <button class="btn btn-info" >                                        
                                    <a th:href="@{/registro/recordar}" class="btn"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a></button>
                                <button class="btn btn-success" type="submit">
                                    <span class="btn"><i class="fas fa-sign-in-alt"></i>
                                        [[#{login.login}]]</span></button>    
                            </div>

                            <input type="submit" name="Login"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/> <!-- Corregido el nombre de la etiqueta -->
    </body>
</html>

